<div class="md-grid md-grid--no-spacing">
  <div class="md-cell">
    <%= simple_form_for(@album) do |f| %>
      <%= f.error_notification %>

      <div class="md-grid">

    <!--
        <%= f.input :title %>
        <%= f.input :year %>
     -->

      <div class="md-cell md-cell--12">
        <%= react_input @album, "album", :title, "Title" %>
      </div>

      <div class="md-cell md-cell--12">
        <%= react_input @album, "album", :year, "Year" %>
      </div>

      <div class="md-cell md-cell--12">
        <%= f.button :submit %>
      </div>
    </div>
    <% end %>
  </div>
</div>

